Create a new time!
%br
%br
= form_tag create_cardio_path, :method=>'post' do
  = label_tag :time
  Hour:
  = text_field_tag "Hours"
  Minutes:
  = text_field_tag "Minutes"
  Seconds:
  = text_field_tag "Seconds"
  = label_tag :date
  = date_select "dates", :date, :end_year => Time.now.year, :start_year => Time.now.year - 10, :order => [:month, :day, :year]
  %br
  = submit_tag "Create", :class => "btn"
  
  
%br
= link_to "Back", show_exercise_path(@id), :class => "btn"